@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

/* header starts */
.logo {
  width: 165px;
  height: auto;
}

.images img {
  width: 100%;
}

#demo .demo_box {
  border: 1px solid black;
  border-radius: 5px;
}

.add-me {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  padding-top: 5px;
  -webkit-box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.13);
  box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.13);
}

#home .active {
  color: #ff5e15 !important;
}

#home .nav-link {
  color: black;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 16px;
}

#home .nav-link:hover {
  color: #ff5e15;
  transition: 0.2s linear;
}

#home .btn_custom {
  border: 0;
  background: transparent !important;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 23px;
  color: #ff5e15;
  border: 1px solid #ff5e15;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}

#home .btn_custom:hover {
  background-color: #ff5e15 !important;
  color: #fff;
  transition: 400ms ease-in 0s;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: inherit !important;
}

.custom-button {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  border: 0;
  background: transparent !important;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 23px;
  color: #ff5e15 !important;
  border: 1px solid #ff5e15 !important;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}

.custom-button:hover {
  color: #000 !important;
}

.custom-button::before {
  content: "";
  width: 00%;
  height: 100%;
  background-color: #ff5e15;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.custom-button:hover::before {
  width: 100%;
}

#home .banner {
  margin-top: 108px;
  height: 60vh;
}

.btn_b {
  width: 231px;
  height: 55px;
  text-align: center;
  border-radius: 170px;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 34px;
  box-shadow: 0 20px 20px -15px rgba(144, 40, 64, 0.5);
}

.w-button {
  color: #fff !important;
  line-height: inherit;
  cursor: pointer;
  background-color: #ff5e15;
  border: 0;
  padding: 17px;
  text-decoration: none;
  display: inline-block;
}

.w-button:hover {
  background-color: #d73b00 !important;
  transition: 0.3s ease-in;
}

#home .banner .banner_left h2 {
  font-size: 45px;
  font-weight: 600;
  color: #333333;
  line-height: 58px;
}

#home .banner .banner_left p {
  color: #6b6b6b;
  font-size: 17px;
  font-weight: 400;
  max-width: 500px;
  line-height: 25px;
}

.slide_box {
  max-width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #1abc9c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: none;
}

@media (max-width: 991px) {
  #home .banner {
    height: 100%;
  }

  #home .mySwiper {
    margin-top: 30px;
  }

  #home .nav-link {
    padding: 6px 3px;
  }

  .navbar-light .navbar-toggler {
    border: 0;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/toggle_icon.svg");
  }

  .navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
  }
}

@media (max-width: 575px) {
  .logo {
    width: 150px;
    height: auto;
  }

  #home .banner .banner_left h2 {
    font-size: 39px;
    line-height: 46px;
  }

  #home .banner .banner_left p {
    font-size: 15px;
    line-height: 23px;
  }
}

/* packages_sec starts */
#packages_sec {
  background-color: #f0eded;
}

#packages_sec .check_icon {
  font-size: 25px;
}

#packages_sec .t_head {
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}

#packages_sec .plan_head {
  color: #666;
}

#generic_price_table .generic_content {
  background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #525252;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .cent {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .month {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
  background-color: #e4e4e4;
  border-left: 5px solid #ff5e15;
}

#generic_price_table .generic_content .generic_price_btn a {
  border: 1px solid #ff5e15;
  color: #ff5e15;
}

#generic_price_table
  .generic_content.active
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: #ff5e15 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff5e15;
  color: #fff;
}

#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  span,
#generic_price_table
  .generic_content.active
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
  background-color: #ff5e15;
  color: #fff;
}

#generic_price_table {
  font-family: "Raleway", sans-serif;
}

.row .table {
  padding: 28px 0;
}

#generic_price_table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
  margin: 0 0 20px 0;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content {
  margin: 0 0 50px 0;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
  padding: 0 0 20px;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price {
  display: block;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .cent {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .month {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 15px 0;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

#generic_price_table .generic_content .generic_feature_list ul li .fa {
  padding: 0 10px;
}

#generic_price_table .generic_content .generic_price_btn {
  margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  outline: medium none;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  h2,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 320px) {
}

@media (max-width: 767px) {
  #generic_price_table .generic_content {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #generic_price_table .col-md-3 {
    float: left;
    width: 50%;
  }

  #generic_price_table .col-md-4 {
    float: left;
    width: 50%;
  }

  #generic_price_table .generic_content {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

#generic_price_table_home {
  font-family: "Raleway", sans-serif;
}

.text-center h1,
.text-center h1 a {
  color: #7885cb;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.demo-pic {
  margin: 0 auto;
}

.demo-pic:hover {
  opacity: 0.7;
}

#generic_price_table_home ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
}

#generic_price_table_home li {
  float: left;
}

#generic_price_table_home li + li {
  margin-left: 10px;
  padding-bottom: 10px;
}

#generic_price_table_home li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0px;
}

#generic_price_table_home .blue {
  background: #3498db;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .emerald {
  background: #2ecc71;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .grey {
  background: #7f8c8d;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .midnight {
  background: #34495e;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .orange {
  background: #e67e22;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .purple {
  background: #9b59b6;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .red {
  background: #e74c3c;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .turquoise {
  background: #1abc9c;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .divider {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

#generic_price_table_home .divider span {
  width: 100%;
  display: table;
  height: 2px;
  background: #ddd;
  margin: 50px auto;
  line-height: 2px;
}

#generic_price_table_home .itemname {
  text-align: center;
  font-size: 50px;
  padding: 50px 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 300;
}

#generic_price_table_home .itemnametext {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: inline-block;
}

#generic_price_table_home .footer {
  padding: 40px 0;
}

.price-heading {
  text-align: center;
}

.price-heading h1 {
  color: #666;
}

.demo-button {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.bottom_btn {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 28px;
  margin: 60px auto 20px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}

.demo-button:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.bottom_btn:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

/* demo starts */
.template-card {
  transition: 0.3s ease-in-out;
  height: 100%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 2px solid #eee;
}

#demo .demo_heading h1 {
  color: #666 !important;
  font-size: 40px;
  font-weight: 500;
}

.template-card:hover {
  box-shadow: 0 0 40px rgba(2, 59, 109, 0.1);
}

.template-card picture {
  width: 380px;
}

.template-card .details {
  padding: 40px;
  border-left: 1px solid #eee;
}

.template-card h2 {
  margin: 0;
  padding: 0 0 25px 0;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.template-card h2 a {
  color: #ff5e15;
  transition: 0.3s;
  text-decoration: none;
}

.template-card p {
  color: #555;
  margin: 0 0 25px 0;
  overflow: hidden;
}

.template-card .buttons {
  position: relative;
  z-index: 2;
}

.template-card .buttons a {
  display: inline-flex;
  align-items: center;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border-radius: 5px;
  color: #ff5e15;
  transition: all 0.3s;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  border: 1px solid #ff5e15;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ff5e15;
}

.template-card .buttons a:hover {
  transition: 0.3s ease-in;
  background-color: #ff5e15;
  color: #fff !important;
}

.template-card .btn_22 a {
  padding: 9px 37px;
  color: #fff;
  background-color: #ff5e15;
}

.template-card .btn_22 a:hover {
  background-color: #d73b00 !important;
  transition: 0.3s ease-in;
}

.template-card .buttons a.download {
  margin-left: 12px;
}

/* footer starts */
.footer ul {
  margin: 0px;
  padding: 0px;
}

.subscribe-form input:focus-visible {
  outline: 0 !important;
}

#footer-section {
  background: #2f4858;
  position: relative;
  color: #fff !important;
}

.footer_btn {
  background: #ff5e14 !important;
  border: 0;
}

.footer_btn:hover {
  background-color: #d73b00 !important;
  transition: 0.3s ease-in; 
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #fff;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.footer-social-icon li {
  width: 40px;
  height: 40px;
  list-style: none;
  margin-right: 13px;
  padding: 10px;
  border-radius: 100%;
  text-align: center;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
}

.footer-social-icon .f_col {
  background: #3b5998;
}

.footer-social-icon .t_col {
  background: #00acee;
}

.footer-social-icon .l_col {
  background: #0072b1;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-widget ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #e67e22;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 8px 18px;
  border: 1px solid #707070;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #151414;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffff;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media (max-width: 991px) {
  .mt_custom {
    padding-top: 24px;
  }

  .single-cta {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .footer-logo img {
    max-width: 175px;
  }

  .template-card .buttons a {
    padding: 9px 12px;
  }

  .template-card .side_btn {
    justify-content: space-between;
  }

  .template-card .side_btn .btn_22 {
    margin-left: 0 !important;
  }

  .template-card .side_btn .btn_22 a {
    padding: 9px 22px;
  }

  .price_box {
    padding: 0;
  }

  .btn_b {
    width: 194px;
  }
}

/* bottom to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
}

.bottom_btn {
  display: block;
  background: #ff5e14;
  padding: 3px 13px;
  font-size: 25px;
  font-weight: 700;
  border: 0;
}

.bottom_btn:hover {
  background-color: #ff5e14;
}

.btn-check:focus + .btn-danger,
.btn-danger:focus {
  box-shadow: inherit;
}

.btn-check:active + .btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: inherit !important;
}

/* whatsapp chat icon */
.whatsapp_float {
  position: fixed;
  bottom: 115px;
  right: 18px;
  z-index: 1080;
}

.whatsapp_float img {
  width: 52px;
}
